.result-container {
	padding: 10px;
	border-radius: 5px;
	min-width: 280px;
	max-width: 350px;
	margin-top: 20px;
	box-shadow: rgb(32 22 0 / 30%) 0px 1px 5px 0.1px;
}
.result-title {
	font-size: 24px;
	width: 100%;
	text-align: left;
}

.result-info-wrap {
	display: flex;
	width: 100%;
}

.result-calc {
	width: 22px;
	height: 22px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 50%;
	font-weight: bold;
	line-height: 22px;
	margin: 0px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgb(32 22 0 / 30%) 0px 1px 5px 0.1px;
	background-color: rgb(255, 255, 255);
	color: rgb(122, 7, 17);
	position: relative;
	top: 10px;
}

.result-calc::selection {
	background: transparent;
}

.result-value {
	margin-bottom: 10px;
	margin: 0px 10px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(122, 7, 17);
}

.result-info {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0px;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-container .button-red {
	-webkit-transition: background 0.15s ease;
	transition: background 0.15s ease;
	background: #7a0711;
	color: #fff;
	width: 319px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	margin: 0 5px;
	height: 34px;
	box-shadow: 0 1px 5px 0.1px rgb(32 22 0 / 26%);
	letter-spacing: 0.4px;
}

.button-container .button-red:hover {
	background: #fff;
	color: #7a0711;
}

.info-bold {
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: -5px;
}
